.DS_Store
nvim/plugin/packer_compiled.lua
nvim/spell/

emacs/lisp/lisp
emacs/plugins/plugins
setups/clash/config.gfwlist
setups/clash/config.latest

package-lock.json
package.json
vifm/colors/colors
vifm/scripts/scripts
